.main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.main-content {
  flex: 2;
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: left;
}

p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}

button {
  display: block;
  text-align: left;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0px 25px;
  height: 40px;
  line-height: 40px;
  color: rgb(41, 42, 43);
  background: rgb(255, 234, 0);
}

.video-container {
  flex: 3;
  padding: 20px;
}
